---
http_interactions:
- request:
    method: post
    uri: https://hqc.docebosaas.com/api/course/courses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Authorization:
      - Docebo UXBVb21NaWEqciphWHRYX3FWXypSI3gxOjVhMTI1NjAwYTM4ZjRkYjRkNjUwMTM5OGQxZWJhOTc5MjAxYzFiYzI=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset="UTF-8"
      Front-End-Https:
      - 'on'
      - 'on'
    body:
      encoding: UTF-8
      string: '{"courses":[{"course_id":1,"code":"FIRST","course_name":"First Course","course_description":"<p>This
        is the description for first course<\/p>","course_language":"english","status":2,"selling":0,"price":"","subscribe_method":2,"course_edition":0,"course_type":"elearning","sub_start_date":null,"sub_end_date":null,"date_begin":"0000-00-00","date_end":"0000-00-00","course_link":"https:\/\/hqc.docebosaas.com\/lms\/index.php?r=player\/course&course_id=1"},{"course_id":2,"code":"SECOND","course_name":"Second
        Course","course_description":"<p>Just a long description for the second course<\/p>","course_language":"english","status":2,"selling":0,"price":"","subscribe_method":2,"course_edition":0,"course_type":"elearning","sub_start_date":null,"sub_end_date":null,"date_begin":"0000-00-00","date_end":"0000-00-00","course_link":"https:\/\/hqc.docebosaas.com\/lms\/index.php?r=player\/course&course_id=2"}],"success":true}'
  recorded_at: Sat, 13 Aug 2016 16:03:19 GMT
recorded_with: VCR 3.0.3
