---
http_interactions:
- request:
    method: post
    uri: http://hqc.docebosaas.com/api/user/checkUsername
    body:
      encoding: US-ASCII
      string: userid=john
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Authorization:
      - Docebo UXBVb21NaWEqciphWHRYX3FWXypSI3gxOmNlNTViODE5M2U2ZDU4YWE2MGI5ZGRhYmVkMTAxM2MyZTBiMjNkMTQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset="UTF-8"
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"idst":13013,"firstname":"John","lastname":"Johnson","email":"john@hqc.me","success":true}'
  recorded_at: Sat, 13 Aug 2016 14:33:48 GMT
recorded_with: VCR 3.0.3
